/* --- Styling Reset --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 0;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    font-family: Arial, sans-serif;
}

/* colorpallete */
/* black (#000) */
/* white (#fff) */
/* red (#ff0000) */
/* grey (#969696) */

/* --- End Styling Reset --- */

#oba {
    font-size: 60vw;
    position: fixed;
    color: #ff0000;
    letter-spacing: -40px;
    z-index: -1;
}

#oba span:first-of-type {
    font-size: 65vw;
}

#oba span:last-of-type {
    writing-mode: tb;
    position: absolute;
    left: 50vw;
    top: 28vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em 1em 1em;
    box-shadow: #000 0px 5px 50px;
    background-color: #ff0000;
}

header h1 span:last-of-type {
    writing-mode: tb;
    position: absolute;
    left: 1.5em;
    top: 0.89em;
}

header a {
    color: #fff;
}

main > h2 {
    margin-top: 1.5em;
    margin-left: 0.6em;
}

#itemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 4vh;
    padding-top: 1em;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 88.5vh;
    padding-bottom: 1em;
}

.book {
    display: flex;
    margin: 0em 0em 1em 1em;
}

.book img {
    margin-right: 0.5em;
    max-height: 16.250em;
}

.book a {
    display: block;
    padding: 0.75em 1.25em;
    width: fit-content;
    color: white;
    background-color: red;
    border-radius: 5px;
    transition: 0.1s;
}

.book p:last-of-type {
    margin-bottom: 1em;
}

.book a:active {
    box-shadow: inset #000 0px 2px 13px;
}

/* searchfunction */
#searchWrapper {
    margin-right: 1em;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    border: none;
    height: 1.5em;
    padding: 1.5em;
    background-color: #fff !important;
}

form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 1.5em;
    padding: 1.5em;
    margin: -0.3em;
    border: none;
    background-color: #fff;
    border-left: 1px solid #000;
    border-radius: 0em 1em 1em 0em;
}

#searchError {
    text-align: center;
    margin-top: 1em;
}

#searchError span {
    font-weight: bold;
}

#searchWrapper {
    position: relative;
}

.autocom-box {
    position: absolute;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
}

#searchWrapper.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

/* end searchfunction*/