/* --- Styling Reset --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 0;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    font-family: Arial,sans-serif;
}

/* colorpallete */
/* black (#000) */
/* white (#fff) */
/* red (#ff0000) */
/* grey (#969696) */

/* --- End Styling Reset --- */

#oba {
    font-size: 60vw;
    position: fixed;
    color: #ff0000;
    letter-spacing: -40px;
    z-index: -1;
}

#oba span:first-of-type {
    font-size: 65vw;
}

#oba span:last-of-type {
    writing-mode: tb;
    position: absolute;
    left: 50vw;
    top: 28vw;
}

header {
    padding: 1em 0em 1em 1em;
    box-shadow: #000 0px 5px 50px;
}

header h1 span:last-of-type {
    writing-mode: tb;
    position: absolute;
    left: 1.5em;
    top: 0.89em;
}

header a {
    color: #ff0000;
}

#itemList {
    padding-top: 1em;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.book {
    display: flex;
    margin: 0em 0em 1em 1em;
}

.book img {
    margin-right: 0.5em;
}
.book a {
    display: block;
    padding: 0.75em 1.25em;
    width: fit-content;
    color: white;
    background-color: red;
    border-radius: 5px;
    transition: 0.1s;
}

.book p:last-of-type {
    margin-bottom: 1em;
}

.book a:active {
    box-shadow: inset #000 0px 2px 13px;
}